<div>
    <div>
        <button mat-raised-button (click)="addProduct()">Add Product</button>
    </div>

    <div class="form-group">
        <form #productForm="ngForm">
            <label for="product-name">Product Name</label>
            <input type="text" class="form-control" id="product-name" required [(ngModel)]="product.name" name="name">
            <span>{{product.name}}</span>
        </form>
    </div>
</div>