<div>
    <div>
        <button mat-raised-button (click)="addParser()">Add Parser</button>
    </div>
    <form class="parser-form">
        <mat-form-field class="w-100">
            <mat-label>Parser Base Url</mat-label>
            <input matInput type="url" required [(ngModel)]="parser.base_url" name="parser-base-url" #name="ngModel">
        </mat-form-field>
        <mat-form-field class="w-100">
            <mat-label>Parser Class Name</mat-label>
            <input matInput type="text" required [(ngModel)]="parser.class_name" name="parser-class-name" #name="ngModel">
        </mat-form-field>
        <mat-form-field class="w-100">
            <mat-label>Parser Path</mat-label>
            <mat-select required [(ngModel)]="parser.path" name="parser-path">
                <mat-option *ngFor="let path of possiblePaths" [value]="path">
                    {{path}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>