<div class="container mw-100 w-100">
    <div class="row">
        <div class="col">
            <app-product-add></app-product-add>
        </div>
        <div class="col">
            <app-product-list></app-product-list>
        </div>
    </div>
</div>