<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Price Checker</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link {% if 'index' in request.path %} active {% endif %}" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if 'product' in request.path %} active {% endif %}" href="{% url 'product' %}">Product</a>
    </li>
  </ul>
</nav>
