{% extends "web_price_checker_app/base.html" %} {% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{product.pk}}</td>
    </tr>
    {% endfor %}

    <tr>
        <th scope="row">{{ products|length|add:1 }}</th>
        <form class="form-inline" action="product/add" method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
        
            {% for field in form %}
            <td class="form-group">
                <input name="{{ field.html_name }}" type="text" class="form-control" id="{{ field.id_for_label }}" {% if field.value is not None %} value="{{ field.value }}" {% endif %}>
            </td>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </tr>
  </tbody>
</table>
{% endblock %}
