{% extends "web_price_checker_app/base.html" %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for field in form %}
        <div class="form-group">
            {{ field.errors }}
            <label for="{{ field.id_for_label }}">{{field.label}}:</label>
            <input name="{{field.html_name}}" type="text" class="form-control" id="{{ field.id_for_label }}" {% if field.value is not None %} value="{{ field.value }}" {% endif %}>
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
{% endblock %}