<div>
    <div>
        <button mat-raised-button (click)="addUrl()">Add Url</button>
    </div>
    <form class="url-form">
        <mat-form-field class="w-100">
            <mat-label>Url</mat-label>
            <input matInput type="url" required [(ngModel)]="url.url" name="url" #name="ngModel">
        </mat-form-field>
        <mat-form-field class="w-100">
            <mat-label>Product</mat-label>
            <mat-select required [(ngModel)]="url.product" name="url-product">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let product of products$|async" [value]="product.id">
                    {{product.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>