<div>
    <div>
        <button mat-raised-button (click)="addStore()">Add Store</button>
    </div>
    <form class="store-form">
        <mat-form-field class="w-100">
            <mat-label>Store Name</mat-label>
            <input matInput type="text" required [(ngModel)]="store.name" name="store" #name="ngModel">
        </mat-form-field>
    </form>
</div>