<mat-toolbar color="primary">
  <h1>Web Price Checker</h1>
  <span class="spacer"></span>
  <div>
    <a mat-button routerLinkActive="active" routerLink="/product-dashboard">Product Dashboard</a>
    <a mat-button routerLinkActive="active" routerLink="/url-list">Urls</a>
    <a mat-button routerLinkActive="active" routerLink="/url-add">Url Add</a>
    <a mat-button routerLinkActive="active" routerLink="/store-add">Store Add</a>
    <a mat-button routerLinkActive="active" routerLink="/parser-add">Parser Add</a>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>